*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1e88e5;
  --color-white: #ffffff;
  --color-light-gray: #8a8a8a;
  --color-gray: #282b2e;
  --color-black: #151515;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  font-weight: 300;

  font-size: 1.6rem;
  color: var(--color-light-gray);
  line-height: 1.6;
  background-color: var(--color-black);
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.movie-card-loader {
  width: 27rem;
  height: 40rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    -10deg,
    var(--color-gray) 0%,
    var(--color-black) 50%,
    var(--color-gray) 100%
  );
  background-size: 100% 200%;
  animation: loading 3s infinite;
}

@keyframes loading {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 -100%;
  }
}

.show-more-btn {
  border-radius: 0.4rem;
  padding: 1.2rem 3.2rem;
  font-family: inherit;
  border: none;
  background-color: var(--color-gray);
  color: var(--color-white);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: var(--color-light-gray);
}

main {
  position: relative;
  margin: 0 auto;
  max-width: 192rem;
  background-image: url("/bg-header.png");
  background-repeat: no-repeat;
}

.btn {
  display: inline-block;
  border-radius: 0.4rem;
  padding: 1.2rem 3.2rem;
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  color: var(--color-white);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--primary:hover {
  background-color: #1565c0;
}

.btn--secondary {
  background-color: var(--color-gray);
}
.btn--secondary:hover {
  background-color: var(--color-light-gray);
}

.input {
  padding: 1.6rem 2.4rem;
  border-radius: 4px;
  border: none;
  background-color: var(--color-gray);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 300;
  font-family: inherit;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

.input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

/* PRELOADER  */

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 26, 27, 0.8);
  z-index: 9999;
}

.preloader__heading {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--color-white);
  margin-bottom: 3.2rem;
}

.progress-bar {
  width: 30rem;
  height: 0.8rem;
  background-color: #333;
  border-radius: 0.4rem;
  overflow: hidden;
}

.progress-bar__inner {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  box-shadow: 0 2px 10px rgba(39, 88, 248, 0.5);
  animation: progress-animation 1.5s infinite linear;
}

@keyframes progress-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* NAV  */

.nav__btn {
  display: none;
}

.nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.4rem;
  width: 100%;
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.nav__list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
  color: var(--color-white);
  font-size: 1.4rem;
}

.nav__link.nav__link--active:not(.btn) {
  color: var(--primary-color);
}

.nav__logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
}

/* HEADER  */
.header-container {
  padding: 28rem 0 24rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.heading-1 {
  font-size: clamp(4rem, 6vw, 6.4rem);
  font-weight: 200;
  text-align: center;
  color: var(--color-white);
  letter-spacing: -2px;
  line-height: 0.9;
}

.header__heading {
  max-width: 15ch;
}

.header__description {
  margin: 3.2rem 0 4.8rem 0;
  max-width: 45ch;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.search-bar {
  position: relative;
}

.search-bar__input {
  min-width: 40rem;
}

.search-bar__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  border-radius: 4px;
  padding: 1.2rem 3.2rem;
  font-family: inherit;
  border: none;
  background-color: var(--primary-color);
  color: var(--color-white);
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.search-bar__btn:hover {
  background-color: #1565c0;
}

/* MOVIES LIST  */

.movies-list {
  display: grid;
  gap: 3.2rem 1.6rem;

  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 3.2rem;
}

.movie-card__image {
  width: 100%;
  min-height: 41.5rem;
  max-height: 41.5rem;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
}

.movie-card__info {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-gray);
  padding: 0.8rem;
  border-radius: 0.4rem;
  min-height: 10rem;
}

.movie-card__title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-white);
}

.movies-list-container {
  padding: 0 0 12rem 0;
}

/* MOVIE DETAILS  */

.movie-details-container {
  padding: 24rem 0;
}

.movie-details {
  display: flex;
  gap: 3.2rem;
}

.movie-details__image {
  border-radius: 0.4rem;
}

.movie-details__info {
  display: flex;
  flex-direction: column;
}

.movie-details__title {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 1.6rem;
}

.movie-details__description {
  font-size: 1.6rem;
  max-width: 50ch;
  line-height: 1.6;
  color: var(--color-light-gray);
  margin-bottom: 2.4rem;
}

.movie-details__btn {
  align-self: flex-start;
  margin-top: auto;
}

/* MOVIE DETAILS LOADER  */

.details-loader {
  width: 100%;
}

.details-loader__title {
  width: 30%;
  height: 3.2rem;
}

.details-loader__description {
  margin: 3.2rem 0;
  width: 50%;
  height: 9.6rem;
}

.details-loader__rating {
  width: 40%;
  height: 3.2rem;
}

.details-loader__title,
.details-loader__description,
.details-loader__rating {
  background: linear-gradient(
    -10deg,
    var(--color-gray) 0%,
    var(--color-black) 50%,
    var(--color-gray) 100%
  );
  border-radius: 0.4rem;
  background-size: 100% 200%;
  animation: loading 3s infinite;
}

/* FOOTER  */
.footer {
  padding: 4.8rem 0;
  background-color: #191919;
}

.footer-container {
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer-col__heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 1.6rem;
}

.footer-col__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-col__text {
  font-size: 1.4rem;
}

.footer-col__link {
  font-size: 1.4rem;
  color: var(--color-light-gray);
  transition: color 0.3s ease-in-out;
}
.footer-col__link:hover {
  color: var(--primary-color);
}

/* REGISTER  */

.register-container {
  padding: 24rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register__heading {
  font-size: clamp(4rem, 6vw, 4.8rem);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 3.2rem;
  color: var(--color-white);
}

.register-form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}

.register-form__text {
  margin: 3.2rem 0;
  text-align: center;
}

.register-form__btn {
  align-self: center;
}

.register-form__error {
  color: red;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

/* LIKED PAGES  */

.liked-movies__description {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin: 1.6rem 0 7.2rem 0;
  max-width: 40ch;
}

.liked-movies-container {
  padding: 24rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* RESPONSIVE MEDIA QUERIES  */

@media screen and (max-width: 1200px) {
  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .nav {
    border-radius: 0px;
    margin-top: 0;
  }

  .header-container {
    padding: 20rem 1.6rem 16rem 1.6rem;
  }

  .liked-movies-container {
    padding: 16rem 1.6rem;
  }

  .movies-list-container {
    padding: 0 1.6rem 12rem 1.6rem;
  }
  .footer {
    padding: 4.8rem 1.6rem;
  }

  .register-container,
  .movie-details-container {
    padding: 16rem 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .movies-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .movie-details {
    flex-direction: column;
  }

  .movie-details__image,
  .movie-card-loader {
    width: 70%;
  }

  .nav__btn {
    display: block;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
    background-color: var(--color-light-gray);
    border: 0;
    cursor: pointer;
  }

  .nav__btn-bar {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--color-white);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .nav__btn-bar:nth-child(1) {
    transform: translateY(-0.4rem);
  }
  .nav__btn-bar:nth-child(3) {
    transform: translateY(0.4rem);
  }

  .nav__btn--active .nav__btn-bar:nth-child(1) {
    transform: rotate(45deg) translateY(0.2rem) translateX(0.2rem);
  }
  .nav__btn--active .nav__btn-bar:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
  }

  .nav__btn--active .nav__btn-bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.2rem) translateX(0.2rem);
  }

  .nav {
    flex-wrap: wrap;
  }
  .nav__list {
    background-color: var(--color-gray);
    position: absolute;
    top: 7rem;
    left: 0;
    padding: 4rem 0;
    width: 100%;
    flex-direction: column;
    transform: translateY(-120%);
    transition: transform 0.3s ease-in-out;
  }

  .nav--active .nav__list {
    transform: translateY(0);
  }

  .nav__list-item {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 480px) {
  .movies-list,
  .footer-container {
    grid-template-columns: 1fr;
  }

  .movie-card__image {
    max-height: fit-content;
  }

  .movie-details__image,
  .movie-card-loader {
    width: 100%;
  }
  .search-bar {
    width: 100%;
  }

  .search-bar__input {
    min-width: 100%;
  }

  .movie-details__btn {
    margin-top: 3.2rem;
  }
}
